[
  {"keyword":"kapal selam","topics":["KRI Nanggala"]},
  {"keyword":"KRI","topics":["KRI Nanggala"]},
  {"keyword":"wsssss","topics":["lol"]},
  {"keyword":"kri al","topics":["Alutsista Indonesia"]},
  {"keyword":"kri perang","topics":["Alutsista Indonesia"]},
  {"keyword":"kri patroli","topics":["Alutsista Indonesia"]},
  {"keyword":"korps maritim","topics":["Korps TNI AL Indonesia"]},
  {"keyword":"korps elektronik","topics":["Korps TNI AL Indonesia"]},
  {"keyword":"korps kesehatan","topics":["Korps TNI AL Indonesia"]},
  {"keyword":"korps polisi militer","topics":["Korps TNI AL Indonesia"]},
  {"keyword":"pelabuhan","topics":["Koarmada TNI AL"]},
  {"keyword":"narkoba","topics":["Koarmada TNI AL"]},
  {"keyword":"narkotika","topics":["Koarmada TNI AL"]}
]